<h1>My spaces</h1>


<ul>
{{#each filteredPlaces}}
<li><b>Name:</b> {{name}}</li>
<li><b>Description:</b> {{description}}</li>
<li><b>Price:</b> {{price}}</li>
<a href="/myspaces-edit/{{_id}}">Edit</a>
<a href="/myspaces-edit/delete/{{_id}}">Delete</a>
{{/each}}
</ul>
