<div class="spaces">
<h1>Rent a space</h1>
<div class="flex-wrap d-flex justify-content-center" >
    
    <div class="card col-md-3 mt-4 mx-5 mb-4" > 
      <img src="{{places.imgPath}}" height="170" alt="">
      <div class="card-body flex-column d-flex align-items-center">
        <h5 class="card-title">{{places.name}}</h5>
        <p class="card-text">{{places.description}}</p>
     <p class="card-text">{{places.price}}</p>
    
     <div class="btns d-flex justify-content-between">
        <a href="/confirm-rent/{{places._id}}" class="btn mt-auto btn-primary ">RENT</a>
     </div>
      </div>
    </div>

    
  </div>
  </div>