<div class="spaces">
  <h1>Rent a space</h1>
  <div class="rents d-flex justify-content-center mt-5">
    <div class="card rent" style="width: 43rem;">
      <img src="{{places.imgPath}}" height="380" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">{{places.name}}</h5>
          <p class="card-text"><b>Description:</b> {{places.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Address:</b> {{places.address}} - {{places.neighborhood}}</li>
        <li class="list-group-item"><b>Capacity:</b> {{places.capacity}}m³</li>
        <li class="list-group-item"><b>Price:</b> {{places.price}}/mo</li>
      </ul>
      <div class="card-body">
        <a href="/confirm-rent/{{places._id}}" class="card-link"><b>Confirm rent</b></a>
        <a href="/" class="card-link"><b>Back</b></a>
      </div>
    </div>
  </div>
</div>